@model Eyon.Models.ViewModels.RecipeViewModel
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data" asp-route-id="@ViewBag.Id">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( Model.Recipe.Id != 0 )
        {
            title = "Edit Recipe";
            <input type="hidden" asp-for="Recipe.Id" />
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Description"></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="Recipe.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Recipe.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="IngredientsText"><b>Ingredients</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="IngredientsText" class="form-control col-sm-12" rows="4" placeholder="Put each ingredient on a different line"></textarea>
                    <span asp-validation-for="IngredientsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="InstructionsText"><b>Instructions</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="InstructionsText" class="form-control col-sm-12" rows="4" placeholder="Put each instruction on a different line"></textarea>
                    <span asp-validation-for="InstructionsText" class="text-danger"></span>
                </div>
            </div>
            @if ( Model.Community != null && Model.Community.Id > 0 )
            {                
                <div class="col-3">
                    <label asp-for="Community.Name"><b>Community Name</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="InstructionsText" class="form-control col-sm-12" rows="4" placeholder="Put each instruction on a different line"></textarea>
                    <span asp-validation-for="InstructionsText" class="text-danger"></span>
                    <input asp-for="CommunityId" class="form-control" hidden value="@Model.Community.Id"/>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CommunityId"><b>Add Community</b></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="CommunityId" class="form-control" hidden />
                        <input type="text" class="form-control" />
                        <button type="button">Find Community</button>
                        <span asp-validation-for="CommunityId" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.PrepTime"></label>
                </div>
                <div class="col-2">
                    <input asp-for="Recipe.PrepTime" class="form-control" />
                    <span asp-validation-for="Recipe.PrepTime" class="text-danger"></span>
                </div>

                <div class="col-3 offset-1">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-2">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Servings"></label>
                </div>
                <div class="col-2">
                    <input asp-for="Recipe.Servings" class="form-control" />
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-9 offset-3">
                    @if ( Model.Recipe.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>        
        @*// Begin Instructions        
        var instructions = {};
        var instructionCounter = 0;        
        var newInstructionsCounter = 0;
        @if ( Model.Instructions != null && Model.Instructions.Count > 0 ) {
            foreach ( var instr in Model.Instructions.OrderBy(x => x.StepNumber) )
            {
                <text>
                    instructions[@instr.StepNumber] = '@instr.Text';
                </text>
            }
            <text>
                instructionCounter = @Model.Instructions.Max(x => x.StepNumber) ;                                
            </text>
        }

        $(document).ready(function () {            
            //createInstructionsList();
            //createAddInstructionButton();
            $("#instructions_list").on("click", "#addInstruction", function () {
                saveCurrentInstructions();
                createInstructionsList();
                newInstructionsCounter++;
                createInstruction(newInstructionsCounter + instructionCounter, '');
                createAddInstructionButton();
            });
        });
       
        function createInstructionsList() {
            $("#instructions_list").empty();
            if (instructionCounter == 0) {
                newInstructionsCounter++;
                createInstruction(newInstructionsCounter + instructionCounter, '');
            } else {
                for (var i = 1; i <= instructionCounter + newInstructionsCounter; i++) {
                    if ( instructions[i] !== 'undefined' )
                        createInstruction(i, instructions[i]);
                    else 
                        createInstruction(i, '');
                }
            }            
        }

        function createInstruction(index, text) {                        
            $("#instructions_list").append('<li class="instruction_item"> <div class="col-sm-12 pl-0"> <div class="input-group">'
                    + '<input type="text" class="form-control instruction_number" name="instruction_' + index + '" id="instructionsStep_' + index + '" value="' + index + '" hidden />&nbsp;'
                    + '<textarea name="instruction_' + index + '" id="instructionText_' + index + '" class="form-control instruction_textbox col-sm-11" rows="2">' + text + '</textarea>'
                    + '&nbsp;<button type="button" class="btn btn-danger btn-danger-bright btnInstruction col-sm-1" onclick="removeInstructionItem('+index+');"> <i class="far fa-minus-square"></i> </button>'                    
                    + '</div></div></li>');
        }

        function createAddInstructionButton() {
            $("#instructions_list").append(` <li class="nostyle">
                                                <div class="col-sm-12 pl-0">
                                                    <div class="input-group">
                                                        <div class="col-sm-11" >&nbsp;</div>                                    
                                                        <button type="button" class="btn btn-primary btnInstruction col-sm-1" id="addInstruction">
                                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                        `);
        }


        function saveCurrentInstructions() {
            var newInstructions = {};
            for (var i = 1; i <= (instructionCounter + newInstructionsCounter); i++) {
                // get current form values
                var textId;
                var number = i;

                textId = "#instructionText_" + number;
                var newText = $(textId).val();
                newInstructions[i] = newText;
            }
            instructions = {};
            instructions = newInstructions;
        }

        function removeInstructionItem(id) {
            var newInstructions = {};
            
            if (id <= instructionCounter)
                instructionCounter--;
            else
                newInstructionsCounter--;            
            var newLength = newInstructionsCounter + instructionCounter;
            for (var i = 1; i <= instructionCounter; i++) {
                if (i < id )
                    newInstructions[i] = instructions[i];
                else 
                    newInstructions[i] = instructions[i+1];
            }

            
            for (var i = instructionCounter + 1; i <= newLength; i++) {
                var textId;
                var number = i;
                if (i >= id)                     
                    number = i + 1;

                textId = "#instructionText_" + number;
                var newText = $(textId).val();
                newInstructions[i] = newText;
            }

            instructions = {};
            instructions = newInstructions;            
            createInstructionsList();
            createAddInstructionButton();
        }
        // End Instructions*@

    </script>
}