@model Eyon.Models.ViewModels.RecipeViewModel
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" asp-route-id="@ViewBag.Id" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( Model.Recipe.Id != 0 )
        {
            title = "Edit Recipe";
            <input type="hidden" asp-for="Recipe.Id" />
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Description"></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="Recipe.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Recipe.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="IngredientsText"><b>Ingredients</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="IngredientsText" class="form-control col-sm-12" rows="4" placeholder="Put each ingredient on a different line"></textarea>
                    <span asp-validation-for="IngredientsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="InstructionsText"><b>Instructions</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="InstructionsText" class="form-control col-sm-12" rows="4" placeholder="Put each instruction on a different line"></textarea>
                    <span asp-validation-for="InstructionsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CommunityId">Community</label>
                </div>
                <div class="col-9">
                    <input asp-for="CommunityId" hidden />
                    <input type="text" asp-for="CommunityName" class="form-control" />
                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.PrepTime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.PrepTime" class="form-control" />
                    <span asp-validation-for="Recipe.PrepTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Servings"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Servings" class="form-control" />
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Privacy"></label>
                </div>
                <div class="col-4">
                    <select asp-for="Recipe.Privacy" class="form-control" asp-items="Html.GetEnumSelectList<Eyon.Models.Enums.Privacy>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-4">
                    <label>Add Images</label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" accept="image/gif, image/jpeg, image/png" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Add to Cookbooks 
                    <button type="button" class="btn btn-primary" id="addCookbooks" data-toggle="modal" data-target="#cookbooksModal">
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-8">                    
                    @Html.HiddenFor(x => x.CookbookSelector.ItemIds)
                    <ul id="@Model.CookbookSelector.GetListId()">                        
                        @foreach ( var item in Model.CookbookSelector.SelectedItems )
                        {
                            
                            <li id="@Model.CookbookSelector.GetListItemId(item.Value)" class="@Model.CookbookSelector.GetListItemClass()">@item.Text <i class="far fa-window-close"></i></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9 offset-3">
                    @if ( Model.Recipe.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" tabindex="-1" role="dialog" id="cookbooksModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-width-table">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Click to select</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="dtCookbooks" class="table table-striped table-borderd table-sm" cellspacing="0" with="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Privacy</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                            <th>Recipes</th>
                            <th></th>
                        </tr>                        
                    </thead>                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/library/list_item_selector.js"></script>
    <script src="~/js/library/string_helper.js"></script>
    <script>
        var name;        
        var cookbookInitialIdsArray = [];
        var cookbookInitialNamesArray = [];
        var elementId_itemIds = 'CookbookSelector_ItemIds';
        var dataTable;
        var data;
        @{
            <text>
                name = '@Model.CookbookSelector.Name';
            </text>
            foreach ( var item in Model.CookbookSelector.SelectedItems )
            {
                long id = 0;
                if (long.TryParse(item.Value, out id) )
                {
                    <text>
                        cookbookInitialIdsArray.push(@id);
                    </text>
                    <text>
                        cookbookInitialNamesArray.push(@item.Text);
                    </text>
                }
            }
        }

        cookbookSelector = new ListItemSelector(name, cookbookInitialIdsArray, cookbookInitialNamesArray, elementId_itemIds, function (id, name, li_id, li_class) {
            return `<li id="${li_id}" class="${li_class}">${name}<div class="badge badge-danger" onclick="updateSelected(${id}, '${textEscape(name)}')"><i class="far fa-window-close"></i></div></li>`
        });
        cookbookSelector.buildUI();


        function updateSelected(id, name) {
            cookbookSelector.updateSelected(id, name);
        }

        $(document).ready(function () {
            getCookbookData();
            createCookbookDataTable();            
            $("#addCookbooks").click(function () {                
                dataTable.rows().invalidate().draw()
            })
        });

        function createCookbookDataTable() {            
            dataTable = $('#dtCookbooks').DataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "data": data.data,
                "columns": [
                        { "data": "name" },
                        { "data" : "privacy" },
                        { "data": "created" },
                        { "data": "modified" },
                        { "data": "recipeCount" },
                        {
                            "data": "id",
                            "render": function (data) {
                                if (cookbookSelector.containsId(data)) {
                                    //return `<button type="button" class="btn btn-danger" id="cookbook_tr_btn_${data}" /><i class="far fa-window-close"></i></button>`
                                    return removeButton(data);
                                } else {
                                    //return `<button type="button" class="btn btn-primary" id="cookbook_tr_btn_${data}" /><i class="fa fa-plus-square-o"></i></button>`
                                    return addButton(data);
                                }
                            }
                        },
                    ],
                 "language": {
                    "emptyTable": "No records found"
                },
                "width": "100%",
                "createdRow": function (row, data, dataIndex) {                    
                    $(row).addClass("text-center");                    
                }
            });

            $('#dtCookbooks tbody').on('click', 'button', function () {
                var data = dataTable.row( $(this).parents('tr') ).data();
                cookbookSelector.updateSelected(data["id"], data["name"]);
                $(this).toggleClass("btn-primary");
                $(this).toggleClass("btn-danger");
                $(this).children("#cbIcon").toggleClass("far fa-window-close");
                $(this).children("#cbIcon").toggleClass("fa fa-plus-square-o");
            });
        }

        function removeButton(id) {
            return `<button type="button" class="btn btn-danger" id="cookbook_tr_btn_${id}" /><i id="cbIcon" class="far fa-window-close"></i></button>`
        }
        function addButton(id) {
            return `<button type="button" class="btn btn-primary" id="cookbook_tr_btn_${id}" /><i id="cbIcon" class="fa fa-plus-square-o"></i></button>`
        }
        

        function getCookbookData() {
            $.ajax({
                async: false,
                url: "/user/cookbook/GetUserCookbooks",
                type: "GET",
                datatype: "json",
                success: function (json) {
                    data = json;
                }
            });
        }

        // Community
        $(function () {
            $('#CommunityName').autocomplete({
                source: '@Url.Action("Suggest", "Community")',
                minLength: 3,
                select: function (evt, ui) {
                    $('#CommunityId').val(ui.item.id);
                    $('#CommunityName').val(ui.item.label);
                }
            });
        });
    </script>
}