@model Eyon.Models.ViewModels.RecipeViewModel
@using System.Web;
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" asp-route-id="@ViewBag.Id" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( Model.Recipe.Id != 0 )
        {
            title = "Edit Recipe";
            <input type="hidden" asp-for="Recipe.Id" />
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Description"></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="Recipe.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Recipe.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="IngredientsText"><b>Ingredients</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="IngredientsText" class="form-control col-sm-12" rows="4" placeholder="Put each ingredient on a different line"></textarea>
                    <span asp-validation-for="IngredientsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="InstructionsText"><b>Instructions</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="InstructionsText" class="form-control col-sm-12" rows="4" placeholder="Put each instruction on a different line"></textarea>
                    <span asp-validation-for="InstructionsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CommunityId">Community</label>
                </div>
                <div class="col-9">
                    <input asp-for="CommunityId" hidden />
                    <input type="text" asp-for="CommunityName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.PrepTime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.PrepTime" class="form-control" />
                    <span asp-validation-for="Recipe.PrepTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Servings"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Servings" class="form-control" />
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Privacy"></label>
                </div>
                <div class="col-4">
                    <select asp-for="Recipe.Privacy" class="form-control" asp-items="Html.GetEnumSelectList<Eyon.Models.Enums.Privacy>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-4">
                    <label>Add Images</label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" accept="image/gif, image/jpeg, image/png" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    Add to Cookbooks
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addCookbooks" data-toggle="modal" data-target="#cookbooksModal">
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-7">
                    @Html.HiddenFor(x => x.CookbookSelector.ItemIds)
                    <ol id="@Model.CookbookSelector.GetListId()">
                    </ol>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    Add Categories
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addCategories" data-toggle="modal" data-target="#categoriesModal">
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-7">
                    @Html.HiddenFor(x => x.CategorySelector.ItemIds)
                    <ol id="@Model.CategorySelector.GetListId()">
                    </ol>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-9 offset-3">
                    @if ( Model.Recipe.Id != 0 )
                    {

                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" tabindex="-1" role="dialog" id="cookbooksModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-width-table">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Click to select</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="dtCookbooks" class="table table-striped table-borderd table-sm" cellspacing="0" with="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Privacy</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                            <th>Recipes</th>
                            <th></th>
                        </tr>                        
                    </thead>                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="categoriesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-width-table">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Click to select</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="dtCategories" class="table table-striped table-borderd table-sm" cellspacing="0" with="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/library/list_item_selector.js"></script>
    <script src="~/js/library/string_helper.js"></script>
    <script>
        // Initialize cookbook data.
        var cookbookSelectorName;
        var cookbookInitialIdsArray = [];
        var cookbookInitialNamesArray = [];
        var cookbook_elementId_itemIds = 'CookbookSelector_ItemIds';
        var cookbookDataTable;
        var userCookbookData;

        // initialize categories data
        var categorySelectorName;
        var category_elementId_itemIds = 'CategorySelector_ItemIds';
        var categoryInitialIdsArray = [];
        var categoryInitialNamesArray = [];
        var categoryDataTable;
        var userCategoryData;


        @{
            <text>
                cookbookSelectorName = `@Model.CookbookSelector.Name`;
                categorySelectorName = `@Model.CategorySelector.Name`;
            </text>
            foreach ( var item in Model.CookbookSelector.SelectedItems )
            {
                long id = 0;
                if (long.TryParse(item.Value, out id) )
                {
                    <text>
                        cookbookInitialIdsArray.push(@id);
                    </text>
                    <text>
                        cookbookInitialNamesArray.push('@Html.Raw(HttpUtility.JavaScriptStringEncode(@item.Text))');
                    </text>
                }
            }

            foreach ( var item in Model.CategorySelector.SelectedItems )
            {
                long id = 0;
                if (long.TryParse(item.Value, out id) )
                {
                    <text>
                        categoryInitialIdsArray.push(@id);
                    </text>
                    <text>
                        categoryInitialNamesArray.push('@Html.Raw(HttpUtility.JavaScriptStringEncode(@item.Text))');
                    </text>
                }
            }
        }

        cookbookSelector = new ListItemSelector(cookbookSelectorName, cookbookInitialIdsArray, cookbookInitialNamesArray, cookbook_elementId_itemIds, function (id, name, btnId, li_class) {
            return `<li><span>${name}</span><div class="badge badge-danger" id="${btnId}" ><i class="far fa-window-close"></i></div></li>`
        });
        cookbookSelector.buildUI();

        categorySelector = new ListItemSelector(categorySelectorName, categoryInitialIdsArray, categoryInitialNamesArray, category_elementId_itemIds, function (id, name, btnId, li_class) {
            return `<li><span>${name}</span><div id="${btnId}" ><i class="far fa-window-close"></i></div></li>`
        });
        categorySelector.buildUI();

        $(document).ready(function () {
            var ajax = getCookbookData();
            ajax.then(() => createCookbookDataTable());


            var ajaxCategory = getCategoryData();
            ajaxCategory.then(() => createCategoryDataTable());

            $("#addCookbooks").click(function () {
                cookbookDataTable.rows().invalidate().draw()
            });

            $("#addCategories").click(function () {
                categoryDataTable.rows().invalidate().draw()
            });


        });

        // region: Generate Cookbook DataTable
        function createCookbookDataTable() {
            cookbookDataTable = $('#dtCookbooks').DataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "data": userCookbookData.data,
                "columns": [
                        { "data": "name" },
                        { "data" : "privacy" },
                        { "data": "created" },
                        { "data": "modified" },
                        { "data": "recipeCount" },
                        {
                            "data": "id",
                            "render": function (data) {
                                if (cookbookSelector.containsId(data)) {
                                    return removeButton(data);
                                } else {
                                    return addButton(data);
                                }
                            }
                        },
                    ],
                 "language": {
                    "emptyTable": "No records found"
                },
                "width": "100%",
                "createdRow": function (row, data, dataIndex) {
                    $(row).addClass("text-center");
                }
            });

            $('#dtCookbooks tbody').on('click', 'button', function () {
                var data = cookbookDataTable.row( $(this).parents('tr') ).data();
                cookbookSelector.updateSelected(data["id"], data["name"]);
                $(this).toggleClass("btn-primary");
                $(this).toggleClass("btn-danger");
                $(this).children("#cbIcon").toggleClass("far fa-window-close");
                $(this).children("#cbIcon").toggleClass("fa fa-plus-square-o");
            });
        }

        function removeButton(id) {
            return `<button type="button" class="btn btn-danger" /><i id="cbIcon" class="far fa-window-close"></i></button>`
        }
        function addButton(id) {
            return `<button type="button" class="btn btn-primary" /><i id="cbIcon" class="fa fa-plus-square-o"></i></button>`
        }

        function getCookbookData() {
            return $.ajax({
                async: false,
                url: "/user/cookbook/GetUserCookbooks",
                type: "GET",
                datatype: "json",
                success: function (json) {
                    userCookbookData = json;
                }
            });
        }
        // End Region: Generate Cookbook DataTable

        // Begin Region: Generate Category DataTable
        
        function createCategoryDataTable() {
            categoryDataTable = $('#dtCategories').DataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "data": userCategoryData.data,
                "columns": [
                        { "data": "name" },                                                
                        {
                            "data": "id",
                            "render": function (data) {
                                if (categorySelector.containsId(data)) {
                                    return removeCategoryButton(data);
                                } else {
                                    return addCategoryButton(data);
                                }
                            }
                        },
                    ],
                 "language": {
                    "emptyTable": "No records found"
                },
                "width": "100%",
                "createdRow": function (row, data, dataIndex) {
                    $(row).addClass("text-center");
                }
            });

            $('#dtCategories tbody').on('click', 'button', function () {
                var data = categoryDataTable.row( $(this).parents('tr') ).data();
                categorySelector.updateSelected(data["id"], data["name"]);
                $(this).toggleClass("btn-primary");
                $(this).toggleClass("btn-danger");
                $(this).children("#catIcon").toggleClass("far fa-window-close");
                $(this).children("#catIcon").toggleClass("fa fa-plus-square-o");
            });
        }
        function removeCategoryButton(id) {
            return `<button type="button" class="btn btn-danger" /><i id="catIcon" class="far fa-window-close"></i></button>`
        }
        function addCategoryButton(id) {
            return `<button type="button" class="btn btn-primary" /><i id="catIcon" class="fa fa-plus-square-o"></i></button>`
        }
        function getCategoryData() {
            return $.ajax({
                async: false,
                url: "/user/category/GetAll",
                type: "GET",
                datatype: "json",
                success: function (json) {
                    userCategoryData = json;
                }
            });
        }
        
        // End Region


        // Region: Community
        $(function () {
            $('#CommunityName').autocomplete({
                source: '@Url.Action("Suggest", "Community")',
                minLength: 3,
                select: function (evt, ui) {
                    $('#CommunityId').val(ui.item.id);
                    $('#CommunityName').val(ui.item.label);
                }
            });
        });
        // End Region: Community
    </script>
}