@model Eyon.Models.ViewModels.FeedViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container pb-3">
        @foreach ( var item in Model.FeedItems )
        {

            <div class="row" style="padding: 0 0 0 0;">
                <div class="col-sm-8">
                    <div class="card feed-item">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-4">
                                    @item.Topics[0].Name
                                </div>
                                <div class="col-sm-3 offset-5">
                                    @item.FeedItem.CreationDateTime.ToString("MM/dd/yyyy")
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    @item.FeedItem.Description
                                </div>
                                <div class="col-sm-2">
                                    @Html.ActionLink("View More", "View", item.Topics[0].TopicType.ToString(), new { id = item.Topics[0].ObjectId })
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                @if ( item.UserImages != null && item.UserImages.Count > 0 )
                                {
                                    foreach ( var userImage in item.UserImages )
                                    {
                                        <div class="col-lg-4 col-xl-3 col-md-6 pb-4" style="max-height: 128px; max-width: 128px;">
                                            <div class="flex-md-row mb-4 box-shadow h-md-250">
                                                <img src="@userImage.Thumb" class="img-thumbnail card-img flex-auto d-none d-md-block" style="max-height: 128px; max-width: 128px;" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>